body {
  font-family: 'Noto Sans', sans-serif;

  margin: 0;
}

ul {
  margin: 0 0;
  padding: 0 0;

  list-style: none;

  min-height: calc(100vh - 82px);
  /*border: 1px dashed darkred;*/
}

li {
  margin: 0 0;
  padding: 0 0;
}

#controls {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
}

ul#messages {
  margin-bottom: 82px;

  margin-left: 10px;
  margin-right: 10px;
}

ul#messages .message {
  margin-top: 5px;
}

ul#messages .message-meta {
  font-size: 0.7em;
  color: darkgray;

  display: flex;
  justify-content: space-between;
}

#message-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 50px;
}

#message-form-container input[name="message"] {
  flex-grow: 1;
  margin-right: 10px;

  font-size: 14px;
  padding: 5px 5px;
}


#message-form-container button[type="submit"] {
  padding: 5px 5px 5px 5px;
}
